<div class="about-lab-wrapper">
    <div class="about-content">
        <h1>Sobre o LAPPIS</h1>
        <h4 class="about-text">O Laboratório Avançado de Produção, Pesquisa e Inovação em Software, foi projetado para atuar em diversas áreas tecnológicas, desde sistemas de informação até sistemas embarcados, objetivando as oportunidades de pesquisas teóricas e aplicadas.</h4> 
        <h4 class="about-text">Além disso, tem como objetivo contribuir com o desenvolvimento de projetos de software ao passo que complementamos a formação de Engenheiros de Software, capazes de lidar com problemas ao pensar em soluções computacionais e implamentá-las efetivamente, por meio de métodos ágeis, software livre, segurança e trabalho colaborativo centrado nas pessoas.</h4>    
    </div>
    <div class="imagens-grid-wrapper">
        <div class="images-column big-image">
            <img src="/_images/about_lab/carla_ahazando.jpg">
        </div>
        <div class="images-column">
            <div class="grid-wrapper">
                <img src="/_images/about_lab/conf.png">
            </div>
            <div class="grid-wrapper">
                <img src="/_images/about_lab/lab_photo.jpg">
            </div>
        </div>
    </div>
</div>