<div id="partners-contribution" class="partners-content">
    <div class="partners-wrapper">
        <div class="partners-timeline">
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-lightbulb" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Idealize um projeto</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper content-shine">
                <div class="icons-wrapper shine">
                    <i class="fas fa-handshake" style="color:#262626; font-size:35px;"></i>
                </div>
                <p>Se torne um parceiro da Brisa</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-laptop-code" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Desenvolvimento do seu projeto por alunos da imersão Brisa</p>
            </div>
            <div class="line"></div>
            <div class="timeline-content-wrapper">
                <div class="icons-wrapper">
                    <i class="fas fa-cube" style="color:#262626; font-size:25px;"></i>
                </div>
                <p>Sua ideia se torna realidade</p>
            </div>
        </div>
    
        <div class="partners-text-wrapper">
            <a href="#partners-contribution"><h1 class="partners-title">Participe do Brisa como Parceiro</h1></a>
            <div class="partners-content-text" style="display: flex;">
                <div class="partners-text" style="padding-right: 25px;">
                    <p>Estamos à procura de empresas parceiras que desejem apresentar desafios estimulantes, comprometendo-se a colaborar com um grupo seleto de estudantes. Em contrapartida, esses alunos receberão bolsas do programa, bem como computadores dedicados ao desenvolvimento de seus projetos.</p>
                    <button href="https://docs.google.com/forms/d/e/1FAIpQLSeYPfpuIGUiUDgU3sPGJQf1jEXSjcvQi9Loa6Ts_0AE16ZSKw/viewform">Seja um parceiro</button>
                </div>
                <div class="partners-text" style="padding-left: 25px;">
                    <p>Ressaltamos a relevância dessas parcerias, pois acreditamos que a imersão em projetos reais oferece aos estudantes uma oportunidade única de crescimento e aprendizado. Nesse contexto, convidamos sua empresa a propor um projeto, permitindo-nos avaliar a viabilidade do escopo em relação ao tempo e ao perfil dos participantes. Estamos ansiosos para consolidar uma parceria que promova resultados positivos, beneficiando tanto a empresa quanto a Universidade, enquanto contribuímos para a formação de futuros profissionais na área de Tecnologia da Informação.</p>
                </div>
            </div>
        </div>
    </div>
</div>