.about-lab-wrapper {
    background-color: #14193d;
    padding: 30px 12%;
    display: flex;
}

.about-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-text {
        font-size: 14px;
        color: white;
        text-align: right;
    }
}


.imagens-grid-wrapper {
    display: flex;
    width: 65%;
    
    margin-right: 40px;
}

.imagens-grid-container {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .grid-wrapper-3 {
        height: 25%;

        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            color: white;
            margin: 0;
            font-size: 35px;
            font-weight: 600;
        }
    }
    


    .big-image {
        height: 75%;
    }


    .grid-wrapper {
        transition: all 0.4s ease-in-out;
        filter: blur(0.02rem);
        
        padding: 20px;
        
        &:hover {
            filter: blur(0rem);   
        }
    }

    img {
        filter: grayscale(100%);
    
        box-shadow: 0 1px 2px #4250be1d;
        transition: all 0.4s ease-in-out;
        object-fit: cover;
        
        &:hover {
            filter: grayscale(0%);
    
            box-shadow: 0 5px 30px rgba(66, 80, 190, 0.499);
        }
    }   
}