.tags-content {
    display: flex;
}

.tags-content p {
    background-color: #2a5082;
    color: white;

    font-size: 10px;

    padding: 4px 15px;
    margin-right: 10px;
    
}

.project-date {
    font-size: 11px;
    margin-top: 15px !important;
}